* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)),url(../resources/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    font-weight: 400;
}